{{template "base" .}}

{{define "title"}}
    Payment Succeeded in Virtual Terminal
{{end}}

{{define "content"}}
    {{$tmplData := index .Data "tmplData"}}

    <h2 class="mt-5 text-center text-success">Payment Succeeded in Virtual Terminal</h2>

    <hr>
{{end}}