{{template "base" .}}

{{define "title"}}
    Virtual Terminal
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Virtual Terminal</h2>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        console.log("Virtual Terminal is working")
    </script>
{{end}}