{{define "body"}}
    <!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html">
    </head>
    <p>Hello</p>

    <p>Here You find an invoice</p>
    </html>
{{end}}